html,
body,
#root,
.app-container,
.content-wrapper {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.paintings-container {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
width: 90%;
margin: 0 auto;
column-gap:50px;
row-gap: 50px;
}
.paint { 
  max-width: 500px ;
  margin: 0 auto;
  border: 4px solid rgba(255, 255, 255, 0.432)!important;
  transition: border-color 0.2s ease-in;
  transition: scale .1s ease-in-out;
}

.paint:hover{
border-color:rgb(254, 141, 50) !important;
border-color: linear-gradient(90deg, rgba(254, 141, 50, 1) 0%, rgba(255, 0, 0, 1) 51%) !important;
transform: scale(1.1);
}


#counters-btn{
  margin-bottom: 20%;
}

#comments-btn {
  z-index: 999;
}

#like-btn{
  z-index: 999;
}

#share-btn{
  z-index: 999;
}
.manage-comments {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: rgb(195, 194, 194);
}

.manage-likes{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: rgb(216, 194, 194);
}

.memory-game {

  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
justify-content:space-evenly;}



.pagination .page-item.active .page-link {
  background-color: gray;
  border-color: gray;
}

.pagination .page-link {
  color: gray;
}

.pagination .page-link:hover {
  background-color: #e9e9e9;
  border-color: gray;
    color: gray;
}
/* .pagination{
  padding-bottom: 2rem;
} */

.edit-profile-form ,.reauthenticate-form{
  width:350px ;
  margin: 2rem auto;
  text-align: center;
}

.test{
  border-radius: 50%;
  background-color: gray;
  font-size: 1.7rem;
  padding: 4px;
}
.user-info-table{
  width: 450px;
  margin: 1rem auto;
}

.filter-container {
  max-width: 900px;
  margin:2rem auto;
  display: flex;
  align-items: center;
  column-gap: 5px;
  flex-direction: column;
}
.filter-header {
  position: relative;
  color: #fa6000;
  font-size: clamp(1.9rem, 3.5vw, 3rem);  font-weight: 800;
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding: 10px 16px;
  padding-right: 20rem;
  border-bottom: 1px solid #fafafa;
}

.filter-header::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  /* Adjust this value to control the width of the image */
  background-image: url("https://th.bing.com/th/id/OIG.dJazC.15_73.KhLVKCbv?pid=ImgGn");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.filter-header:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.select-painter{
  align-self: flex-end;
  margin-right: 1rem;
  margin-bottom: 3rem;
}


.custom-body{
  font-family: 'Kanit',
  sans-serif;
}
#selectElement{
    border-color: gray;
    box-shadow: 0 0 0 0.2rem rgba(128, 128, 128, 0.25);
}

